* {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Arial', sans-serif;
        }

        .navbar {
            display: flex;
            position: sticky;
            align-items: center;
            justify-content: space-between;
            top: 0px;
            background: rgb(39, 176, 255);
            background-blend-mode: darken;
            background-size: cover;
            color: white;
            padding: 10px 20px;
        }

        .nav-list {
            display: flex;
            list-style: none;
        }

        .nav-list li {
            margin-right: 20px;
        }

        .nav-list li:last-child {
            margin-right: 0;
        }

        .nav-list li a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            transition: color 0.3s ease-in-out;
        }

        .nav-list li a:hover {
            color: #ffd700;
            /* Change the color on hover */
        }

        .rightNav {
            display: flex;
            gap: 10px;
        }

        #search {
            padding: 8px;
            font-size: 16px;
            border: 2px solid #fff;
            border-radius: 5px;
        }

        .btn {
            background-color: #ffe100;
            color: #000;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

    .btncadastrar {
                background-color: rgb(212, 208, 208);
                color: #000;
                border: none;
                padding: 8px 12px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;
            }


        .logo {
                    background-color: rgb(17, 0, 255);
                    color: #000;
                    border: none;
                    padding: 7px 8px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s ease-in-out;
                }

            .cursoslivres {
                padding: 7px;
            }

        .btn:hover {
            background-color: #000;
            color: #ffd700;
        }

        .btncadastrar:hover {
            background-color: #000000;
            color: #d4d0d0;
        }

        main { 
            min-height: 100vh;
            background: linear-gradient(to right, rgb(255, 255, 255), rgb(184, 211, 255) )}
        
        
        .title {
                display: flex;
                justify-content: center;
                align-content: center;
                position: relative;
                top: 10vh;
        }

        #matematica {
            display: flex;
            position: relative;
            top: 16vh;
            left: 14vh;
        }

        main button {
            padding: 02rem;
            border-color: rgb(122, 200, 252);
            background-color: rgb(255, 255, 255);
            border-radius: 01rem;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        main button:hover {
            background-color: rgb(122, 200, 252);
            color:rgb(255, 255, 255)
        }

        #fisica {
            display: flex;
            position: relative;
            top: 20vh;
            left: 14.1vh;}

        #fisica button {
            padding: 02rem 3.2rem;
        }
        
        #quimica {display: flex;
            position: relative;
            top: 24vh;
            left: 14.5vh;}

        #quimica button {
            padding: 02rem 2.6rem;
        }