* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Arial', sans-serif;
        }

        .navbar {
            display: flex;
            position: sticky;
            align-items: center;
            justify-content: space-between;
            top: 0px;
            background: rgb(39, 176, 255);
            color: white;
            padding: 10px 20px;
            flex-wrap: wrap;
        }

        .nav-list {
            display: flex;
            list-style: none;
            gap: 20px;
        }


        .nav-list li a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            transition: color 0.3s ease-in-out;
        }

        .nav-list li a:hover {
            color: #ffd700;
            /* Change the color on hover */
        }

        .rightNav {
            display: flex;
            gap: 10px;
        }

        #search {
            padding: 8px;
            font-size: 16px;
            border: 2px solid #fff;
            border-radius: 5px;
        }

        .btn {
            background-color: #ffe100;
            color: #000;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

    .btncadastrar {
                background-color: rgb(212, 208, 208);
                color: #000;
                border: none;
                padding: 8px 12px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;
            }


        .logo {
                    background-color: rgb(17, 0, 255);
                    color: #000;
                    border: none;
                    padding: 7px 8px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s ease-in-out;
                }

            .cursoslivres {
                padding: 7px;
            }

        .btn:hover {
            background-color: #000;
            color: #ffd700;
        }

        .btncadastrar:hover {
            background-color: #000000;
            color: #d4d0d0;
        }

        main { 
            min-height: 100vh;
            background: linear-gradient(to right, rgb(255, 255, 255), rgb(184, 211, 255) );
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            padding: 20px;}
        
        
        .title {
                text-align: center;
        }

        .cards {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        .cards-groups {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
        }


        main button {
            padding: 02rem;
            border-color: rgb(122, 200, 252);
            background-color: rgb(255, 255, 255);
            border-radius: 01rem;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            min-width: 200px;
        }

        main button:hover {
            background-color: rgb(122, 200, 252);
            color:rgb(255, 255, 255)
        }

        @media (max-width: 768px) {

    .navbar {
        flex-direction: baseline;
        gap: 20px;
        padding: 10px;
    }

    .logo {
        justify-content: flex-start;
    }
    .cursoslivres {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .rightNav {
        width: 100%;
        justify-content: space-between;
    }
    
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

    }

    .cards-groups {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main {
        padding: 15px;
    }

    main button {
        width: 100%;
        max-width: 300px;
    }
}

    